<html>

<head>
</head>

<body>
    <p>Well, well, well, {{name}}!</p>
    <p>
        {{#if email}} It looks like your public email address is {{email}}.
        {{else}} It looks like you don't have a public email. That's cool.
        {{/if}}
    </p>
</body>

</html>